*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}
html{width:100%;overflow-x:hidden}
body{width:100%;overflow-x:hidden;font-family:'DM Sans',system-ui,sans-serif;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}
input,select,button,textarea{font-family:inherit;box-sizing:border-box;max-width:100%;font-size:16px!important;-webkit-text-size-adjust:none}
select{-webkit-appearance:none}
::-webkit-scrollbar{width:4px}
::-webkit-scrollbar-thumb{background:rgba(168,201,196,0.3);border-radius:2px}
@media(min-width:768px){.bee-bottom-nav{display:none!important}.bee-sidebar{display:flex!important}.bee-main{margin-left:220px!important}.bee-loc-banner{left:220px!important}.mobile-fab{display:none!important}.desktop-only{display:inline-flex!important}}
@media(max-width:767px){.bee-sidebar{display:none!important}.bee-bottom-nav{display:flex!important}.bee-main{margin-left:0!important}.bee-loc-banner{left:0!important}.desktop-only{display:none!important}.mobile-fab{display:flex!important}}
